<center><h3>List of All Institutes:</h3></center>
<% if @institutes.empty? %>
  <p>Sorry no information is available at this moment. 
  Please check back later</p>
<% else %>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
    <% @institutes.each do |institute| %>
      <tr onclick="window.document.location='/institutes/<%=institute.id%>';">
        <td><%= institute.name %></td>
        <td><%= institute.address %>, <%= institute.city %>, <%= institute.state %>, <%= institute.zipcode %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<% if !current_user.nil? && current_user.admin? %>
  <%= link_to "Add a new school", new_institute_path, method: :get %></br>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% end %>

