<center><h3>Teacher Contact List:</h3></center>
<% if @teachers.empty? %>
  <p>Sorry no information is available at this moment. 
  Please check back later</p>
<% else %>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Office address</th>
      <th>Email address</th>
      <th>Phone number</th>
    </tr>
    <% @teachers.each do |teacher| %>
      <tr onclick="window.document.location='/teachers/<%=teacher.id%>';">
        <td><%= teacher.last_name %>, <%= teacher.first_name %></td>
        <td><%= teacher.department %></td>
        <td><%= teacher.office_address %></td>
        <td><a href="mailto:<%= teacher.email_address %>"><%= teacher.email_address %></a></td>
        <td><a href="tel:<%= teacher.phone_number %>"><%= teacher.phone_number %></a></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to "List of All Institutes", institutes_path, method: :get %></br>
<% if !current_user.nil? && current_user.admin? %>
  <%= link_to "Add a new school", new_institute_path, method: :get %></br>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% end %>
