<% if @list_teachers.empty? %>
  <p>Sorry no information for this teacher is available at the moment. 
  Please check back later or contact us to add your teacher into the list</p>
<% else %>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Office address</th>
      <th>Email address</th>
      <th>Phone number</th>
    </tr>
    <% @list_teachers.each do |teacher| %>
      <tr onclick="window.document.location='/teachers/<%=teacher.id%>';">
        <td><%= teacher.last_name %>, <%= teacher.first_name %></td>
        <td><%= teacher.department %></td>
        <td><%= teacher.office_address %></td>
        <td><a href="mailto:<%= teacher.email_address %>"><%= teacher.email_address %></a></td>
        <td><a href="tel:<%= teacher.phone_number %>"><%= teacher.phone_number %></a></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to "Teacher Contact List", root_path, method: :get %></br>
<%= link_to "Institute List", institutes_path, method: :get %>

