<!DOCTYPE html>
<html>
<head>
  <title>Find-My-Office</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navbar begins -->
  <%= nav_bar :responsive => true, :brand => "Find-My-Office" do %>
  <% end %>
<!--Navbar ends-->
  <div class='container'>
    <div class="navbar-search pull-right"><%= render "teachers/search_form" %> </div>
    </br>
    </br>
    <%= yield %>
  </div>
</body>
</html>
